@import '~scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body {
  height: 100%;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  color: #000000FF;
  background: #ccc;
}